body{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    height:100vh; 
    margin: 0;
    color: rgb(42, 42, 42);

}
 
.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    margin-top: 120px;
    width: 130px;
    border-radius: 50%;
    transform: rotateZ(10deg);
    border-width: 7px;
    border-color: rgb(142, 205, 196);
    border-style: solid;
}

h1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 55px;
}

p{
    margin: 5px;
    font-size: 20px;
    line-height: 30px;
}

h3{
    margin-top: 50px;
    font-size: 24px;
    align-self: flex-start;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-container button{
    width: 600px;
    height: 150px; 
    margin-bottom: 20px;
    /* Make automatic padding of buttons disappear */
    padding: 0px;
    box-shadow: 0px 0px 15px 5px rgba(216, 216, 216, 0.73);
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    overflow: hidden;
}

button:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.picture {
    width: 300px;
    height: 100%;
}

.image {
    width: 300px;
}


.text {
    width: 50%;
    height: 10px;
    font-size: large;
}



 