*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #987D9A;
}

.container{
    position: relative;
}

.clock {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #FEFBD8;
    border: 10px double black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 20px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg *var(--i)));
    display: inline-block;
    font-size: 28px;
}

.clock::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: var(--w);
    height: var(--h);
    border-radius: 10px;
}